{
  "openapi": "3.0.0",
  "info": {
    "title": "Lemmy API",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://lemmy.ml/api/v3",
      "description": "Official Lemmy server"
    }
  ],
  "tags": [],
  "paths": {
    "/site": {
      "get": {
        "tags": [
          "Site"
        ],
        "description": "Helps build lemmy HTTP requests.",
        "operationId": "getSite",
        "parameters": [
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Site"
        ],
        "description": "Create your site.",
        "operationId": "createSite",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Site"
        ],
        "description": "Edit your site.",
        "operationId": "editSite",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditSite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SiteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/leave_admin": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Leave the Site admins.",
        "operationId": "leaveAdmin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeaveAdmin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/modlog": {
      "get": {
        "tags": [
          "Mod"
        ],
        "description": "Get the modlog.",
        "operationId": "getModlog",
        "parameters": [
          {
            "in": "query",
            "name": "mod_person_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PersonId"
            }
          },
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "type_",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ModlogActionType"
            }
          },
          {
            "in": "query",
            "name": "other_person_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PersonId"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModlogResponse"
                }
              }
            }
          }
        }
      }
    },
    "/search": {
      "get": {
        "tags": [
          "Search"
        ],
        "description": "Search lemmy.",
        "operationId": "search",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "community_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "creator_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PersonId"
            }
          },
          {
            "in": "query",
            "name": "type_",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SearchType"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortType"
            }
          },
          {
            "in": "query",
            "name": "listing_type",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListingType"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/resolve_object": {
      "get": {
        "tags": [
          "Resolve Object"
        ],
        "description": "Fetch a non-local / federated object.",
        "operationId": "resolveObject",
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResolveObjectResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "Create a new community.",
        "operationId": "createCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Community"
        ],
        "description": "Get / fetch a community.",
        "operationId": "getCommunity",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Community"
        ],
        "description": "Edit a community.",
        "operationId": "editCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/list": {
      "get": {
        "tags": [
          "Community"
        ],
        "description": "List communities, with various filters.",
        "operationId": "listCommunities",
        "parameters": [
          {
            "in": "query",
            "name": "type_",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListingType"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortType"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommunitiesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/follow": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "Follow / subscribe to a community.",
        "operationId": "followCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FollowCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/block": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "Block a community.",
        "operationId": "blockCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/delete": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "Delete a community.",
        "operationId": "deleteCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/remove": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "A moderator remove for a community.",
        "operationId": "removeCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/transfer": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "Transfer your community to an existing moderator.",
        "operationId": "transferCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/ban_user": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "Ban a user from a community.",
        "operationId": "banFromCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BanFromCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanFromCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/community/mod": {
      "post": {
        "tags": [
          "Community"
        ],
        "description": "Add a moderator to your community.",
        "operationId": "addModToCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddModToCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddModToCommunityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "Create a post.",
        "operationId": "createPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Post"
        ],
        "description": "Get / fetch a post.",
        "operationId": "getPost",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PostId"
            }
          },
          {
            "in": "query",
            "name": "comment_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommentId"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Post"
        ],
        "description": "Edit a post.",
        "operationId": "editPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/delete": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "Delete a post.",
        "operationId": "deletePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/remove": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "A moderator remove for a post.",
        "operationId": "removePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemovePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/mark_as_read": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "Mark a post as read.",
        "operationId": "markPostAsRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPostAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/lock": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "A moderator can lock a post ( IE disable new comments ).",
        "operationId": "lockPost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LockPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/feature": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "A moderator can feature a community post ( IE stick it to the top of a community ).",
        "operationId": "featurePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeaturePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/list": {
      "get": {
        "tags": [
          "Post"
        ],
        "description": "Get / fetch posts, with various filters.",
        "operationId": "getPosts",
        "parameters": [
          {
            "in": "query",
            "name": "type_",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListingType"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortType"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "community_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "saved_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPostsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/like": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "Like / vote on a post.",
        "operationId": "likePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostLike"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/save": {
      "put": {
        "tags": [
          "Post"
        ],
        "description": "Save a post.",
        "operationId": "savePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SavePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/report": {
      "post": {
        "tags": [
          "Post"
        ],
        "description": "Report a post.",
        "operationId": "createPostReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePostReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/report/resolve": {
      "put": {
        "tags": [
          "Post"
        ],
        "description": "Resolve a post report. Only a mod can do this.",
        "operationId": "resolvePostReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolvePostReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/report/list": {
      "get": {
        "tags": [
          "Post"
        ],
        "description": "List post reports.",
        "operationId": "listPostReports",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "unresolved_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPostReportsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/post/site_metadata": {
      "get": {
        "tags": [
          "Post"
        ],
        "description": "Fetch metadata for any given site.",
        "operationId": "getSiteMetadata",
        "parameters": [
          {
            "in": "query",
            "name": "url",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment": {
      "post": {
        "tags": [
          "Comment"
        ],
        "description": "Create a comment.",
        "operationId": "createComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Comment"
        ],
        "description": "Edit a comment.",
        "operationId": "editComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "Comment"
        ],
        "description": "Get / fetch comment.",
        "operationId": "getComment",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/CommentId"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/delete": {
      "post": {
        "tags": [
          "Comment"
        ],
        "description": "Delete a comment.",
        "operationId": "deleteComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/remove": {
      "post": {
        "tags": [
          "Comment"
        ],
        "description": "A moderator remove for a comment.",
        "operationId": "removeComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/mark_as_read": {
      "post": {
        "tags": [
          "Comment"
        ],
        "description": "Mark a comment as read.",
        "operationId": "markCommentReplyAsRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkCommentReplyAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReplyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/like": {
      "post": {
        "tags": [
          "Comment"
        ],
        "description": "Like / vote on a comment.",
        "operationId": "likeComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentLike"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/save": {
      "put": {
        "tags": [
          "Comment"
        ],
        "description": "Save a comment.",
        "operationId": "saveComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/distinguish": {
      "post": {
        "tags": [
          "Comment"
        ],
        "description": "Distinguishes a comment (speak as moderator)",
        "operationId": "distinguishComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistinguishComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/list": {
      "get": {
        "tags": [
          "Comment"
        ],
        "description": "Get / fetch comments.",
        "operationId": "getComments",
        "parameters": [
          {
            "in": "query",
            "name": "type_",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/ListingType"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommentSortType"
            }
          },
          {
            "in": "query",
            "name": "max_depth",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "community_name",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "post_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PostId"
            }
          },
          {
            "in": "query",
            "name": "parent_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommentId"
            }
          },
          {
            "in": "query",
            "name": "saved_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommentsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/report": {
      "post": {
        "tags": [
          "Comment"
        ],
        "description": "Report a comment.",
        "operationId": "createCommentReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCommentReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/report/resolve": {
      "put": {
        "tags": [
          "Comment"
        ],
        "description": "Resolve a comment report. Only a mod can do this.",
        "operationId": "resolveCommentReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolveCommentReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/comment/report/list": {
      "get": {
        "tags": [
          "Comment"
        ],
        "description": "List comment reports.",
        "operationId": "listCommentReports",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "unresolved_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListCommentReportsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/list": {
      "get": {
        "tags": [
          "Private Message"
        ],
        "description": "Get / fetch private messages.",
        "operationId": "getPrivateMessages",
        "parameters": [
          {
            "in": "query",
            "name": "unread_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessagesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message": {
      "post": {
        "tags": [
          "Private Message"
        ],
        "description": "Create a private message.",
        "operationId": "createPrivateMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Private Message"
        ],
        "description": "Edit a private message.",
        "operationId": "editPrivateMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditPrivateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/delete": {
      "post": {
        "tags": [
          "Private Message"
        ],
        "description": "Delete a private message.",
        "operationId": "deletePrivateMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeletePrivateMessage"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/mark_as_read": {
      "post": {
        "tags": [
          "Private Message"
        ],
        "description": "Mark a private message as read.",
        "operationId": "markPrivateMessageAsRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPrivateMessageAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/report": {
      "post": {
        "tags": [
          "Private Message"
        ],
        "description": "Create a report for a private message.",
        "operationId": "createPrivateMessageReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePrivateMessageReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/report/resolve": {
      "put": {
        "tags": [
          "Private Message"
        ],
        "description": "Resolve a report for a private message.",
        "operationId": "resolvePrivateMessageReport",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResolvePrivateMessageReport"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateMessageReportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/private_message/report/list": {
      "get": {
        "tags": [
          "Private Message"
        ],
        "description": "List private message reports.",
        "operationId": "listPrivateMessageReports",
        "parameters": [
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "unresolved_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPrivateMessageReportsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Register a new user.",
        "operationId": "register",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Register"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Log into lemmy.",
        "operationId": "login",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Login"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get the details for a person.",
        "operationId": "getPersonDetails",
        "parameters": [
          {
            "in": "query",
            "name": "person_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PersonId"
            }
          },
          {
            "in": "query",
            "name": "username",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/SortType"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "saved_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/mention": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get mentions for your user.",
        "operationId": "getPersonMentions",
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommentSortType"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "unread_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonMentionsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/mention/mark_as_read": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Mark a person mention as read.",
        "operationId": "markPersonMentionAsRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkPersonMentionAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonMentionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/replies": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get comment replies.",
        "operationId": "getReplies",
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommentSortType"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "unread_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepliesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/ban": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Ban a person from your site.",
        "operationId": "banPerson",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BanPerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BanPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/banned": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get a list of banned users",
        "operationId": "getBannedPersons",
        "parameters": [
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BannedPersonsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/block": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Block a person.",
        "operationId": "blockPerson",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BlockPerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BlockPersonResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/get_captcha": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Fetch a Captcha.",
        "operationId": "getCaptcha",
        "parameters": [
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCaptchaResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/delete_account": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Delete your account.",
        "operationId": "deleteAccount",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAccountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/password_reset": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Reset your password.",
        "operationId": "passwordReset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordReset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PasswordResetResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/password_change": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Change your password from an email / token based reset.",
        "operationId": "passwordChangeAfterReset",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PasswordChangeAfterReset"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/mark_all_as_read": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Mark all replies as read.",
        "operationId": "markAllAsRead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarkAllAsRead"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepliesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/save_user_settings": {
      "put": {
        "tags": [
          "User"
        ],
        "description": "Save your user settings.",
        "operationId": "saveUserSettings",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SaveUserSettings"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/change_password": {
      "put": {
        "tags": [
          "User"
        ],
        "description": "Change your user password.",
        "operationId": "changePassword",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangePassword"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/report_count": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get counts for your reports",
        "operationId": "getReportCount",
        "parameters": [
          {
            "in": "query",
            "name": "community_id",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/CommunityId"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReportCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/unread_count": {
      "get": {
        "tags": [
          "User"
        ],
        "description": "Get your unread counts",
        "operationId": "getUnreadCount",
        "parameters": [
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnreadCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/user/verify_email": {
      "post": {
        "tags": [
          "User"
        ],
        "description": "Verify your email",
        "operationId": "verifyEmail",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyEmail"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyEmailResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/add": {
      "post": {
        "tags": [
          "Admin"
        ],
        "description": "Add an admin to your site.",
        "operationId": "addAdmin",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddAdmin"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddAdminResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/registration_application/count": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "Get the unread registration applications count.",
        "operationId": "getUnreadRegistrationApplicationCount",
        "parameters": [
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnreadRegistrationApplicationCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/registration_application/list": {
      "get": {
        "tags": [
          "Admin"
        ],
        "description": "List the registration applications.",
        "operationId": "listRegistrationApplications",
        "parameters": [
          {
            "in": "query",
            "name": "unread_only",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "auth",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListRegistrationApplicationsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/registration_application/approve": {
      "put": {
        "tags": [
          "Admin"
        ],
        "description": "Approve a registration application",
        "operationId": "approveRegistrationApplication",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveRegistrationApplication"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RegistrationApplicationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/person": {
      "post": {
        "tags": [
          "Admin"
        ],
        "description": "Purge / Delete a person from the database.",
        "operationId": "purgePerson",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgePerson"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurgeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/community": {
      "post": {
        "tags": [
          "Admin"
        ],
        "description": "Purge / Delete a community from the database.",
        "operationId": "purgeCommunity",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeCommunity"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurgeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/post": {
      "post": {
        "tags": [
          "Admin"
        ],
        "description": "Purge / Delete a post from the database.",
        "operationId": "purgePost",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgePost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurgeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/admin/purge/comment": {
      "post": {
        "tags": [
          "Admin"
        ],
        "description": "Purge / Delete a comment from the database.",
        "operationId": "purgeComment",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PurgeComment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurgeItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom_emoji": {
      "post": {
        "tags": [
          "Custom Emoji"
        ],
        "description": "Create a new custom emoji",
        "operationId": "createCustomEmoji",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomEmoji"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEmojiResponse"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Custom Emoji"
        ],
        "description": "Edit an existing custom emoji",
        "operationId": "editCustomEmoji",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditCustomEmoji"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomEmojiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/custom_emoji/delete": {
      "post": {
        "tags": [
          "Custom Emoji"
        ],
        "description": "Delete a custom emoji",
        "operationId": "deleteCustomEmoji",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCustomEmoji"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCustomEmojiResponse"
                }
              }
            }
          }
        }
      }
    },
    "/federated_instances": {
      "get": {
        "tags": [
          "Federated Instances"
        ],
        "description": "Fetch federated instances.",
        "operationId": "getFederatedInstances",
        "parameters": [
          {
            "in": "query",
            "name": "auth",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFederatedInstancesResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {},
    "schemas": {
      "AddAdmin": {
        "properties": {
          "person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "added": {
            "type": "boolean"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "person_id",
          "added",
          "auth"
        ],
        "additionalProperties": false,
        "title": "AddAdmin",
        "type": "object"
      },
      "AddAdminResponse": {
        "properties": {
          "admins": {
            "items": {
              "$ref": "#/components/schemas/PersonView"
            },
            "type": "array"
          }
        },
        "required": [
          "admins"
        ],
        "additionalProperties": false,
        "title": "AddAdminResponse",
        "type": "object"
      },
      "AddModToCommunity": {
        "properties": {
          "community_id": {
            "$ref": "#/components/schemas/CommunityId"
          },
          "person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "added": {
            "type": "boolean"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "community_id",
          "person_id",
          "added",
          "auth"
        ],
        "additionalProperties": false,
        "title": "AddModToCommunity",
        "type": "object"
      },
      "AddModToCommunityResponse": {
        "properties": {
          "moderators": {
            "items": {
              "$ref": "#/components/schemas/CommunityModeratorView"
            },
            "type": "array"
          }
        },
        "required": [
          "moderators"
        ],
        "additionalProperties": false,
        "title": "AddModToCommunityResponse",
        "type": "object"
      },
      "AdminPurgeComment": {
        "properties": {
          "id": {
            "type": "number"
          },
          "admin_person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "post_id": {
            "$ref": "#/components/schemas/PostId"
          },
          "reason": {
            "type": "string"
          },
          "when_": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "admin_person_id",
          "post_id",
          "when_"
        ],
        "additionalProperties": false,
        "title": "AdminPurgeComment",
        "type": "object"
      },
      "AdminPurgeCommentView": {
        "properties": {
          "admin_purge_comment": {
            "$ref": "#/components/schemas/AdminPurgeComment"
          },
          "admin": {
            "$ref": "#/components/schemas/Person"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          }
        },
        "required": [
          "admin_purge_comment",
          "post"
        ],
        "additionalProperties": false,
        "title": "AdminPurgeCommentView",
        "type": "object"
      },
      "AdminPurgeCommunity": {
        "properties": {
          "id": {
            "type": "number"
          },
          "admin_person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "reason": {
            "type": "string"
          },
          "when_": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "admin_person_id",
          "when_"
        ],
        "additionalProperties": false,
        "title": "AdminPurgeCommunity",
        "type": "object"
      },
      "AdminPurgeCommunityView": {
        "properties": {
          "admin_purge_community": {
            "$ref": "#/components/schemas/AdminPurgeCommunity"
          },
          "admin": {
            "$ref": "#/components/schemas/Person"
          }
        },
        "required": [
          "admin_purge_community"
        ],
        "additionalProperties": false,
        "title": "AdminPurgeCommunityView",
        "type": "object"
      },
      "AdminPurgePerson": {
        "properties": {
          "id": {
            "type": "number"
          },
          "admin_person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "reason": {
            "type": "string"
          },
          "when_": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "admin_person_id",
          "when_"
        ],
        "additionalProperties": false,
        "title": "AdminPurgePerson",
        "type": "object"
      },
      "AdminPurgePersonView": {
        "properties": {
          "admin_purge_person": {
            "$ref": "#/components/schemas/AdminPurgePerson"
          },
          "admin": {
            "$ref": "#/components/schemas/Person"
          }
        },
        "required": [
          "admin_purge_person"
        ],
        "additionalProperties": false,
        "title": "AdminPurgePersonView",
        "type": "object"
      },
      "AdminPurgePost": {
        "properties": {
          "id": {
            "type": "number"
          },
          "admin_person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "community_id": {
            "$ref": "#/components/schemas/CommunityId"
          },
          "reason": {
            "type": "string"
          },
          "when_": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "admin_person_id",
          "community_id",
          "when_"
        ],
        "additionalProperties": false,
        "title": "AdminPurgePost",
        "type": "object"
      },
      "AdminPurgePostView": {
        "properties": {
          "admin_purge_post": {
            "$ref": "#/components/schemas/AdminPurgePost"
          },
          "admin": {
            "$ref": "#/components/schemas/Person"
          },
          "community": {
            "$ref": "#/components/schemas/Community"
          }
        },
        "required": [
          "admin_purge_post",
          "community"
        ],
        "additionalProperties": false,
        "title": "AdminPurgePostView",
        "type": "object"
      },
      "ApproveRegistrationApplication": {
        "properties": {
          "id": {
            "type": "number"
          },
          "approve": {
            "type": "boolean"
          },
          "deny_reason": {
            "type": "string"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "approve",
          "auth"
        ],
        "additionalProperties": false,
        "title": "ApproveRegistrationApplication",
        "type": "object"
      },
      "BanFromCommunity": {
        "properties": {
          "community_id": {
            "$ref": "#/components/schemas/CommunityId"
          },
          "person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "ban": {
            "type": "boolean"
          },
          "remove_data": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "expires": {
            "type": "number"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "community_id",
          "person_id",
          "ban",
          "auth"
        ],
        "additionalProperties": false,
        "title": "BanFromCommunity",
        "type": "object"
      },
      "BanFromCommunityResponse": {
        "properties": {
          "person_view": {
            "$ref": "#/components/schemas/PersonView"
          },
          "banned": {
            "type": "boolean"
          }
        },
        "required": [
          "person_view",
          "banned"
        ],
        "additionalProperties": false,
        "title": "BanFromCommunityResponse",
        "type": "object"
      },
      "BannedPersonsResponse": {
        "properties": {
          "banned": {
            "items": {
              "$ref": "#/components/schemas/PersonView"
            },
            "type": "array"
          }
        },
        "required": [
          "banned"
        ],
        "additionalProperties": false,
        "title": "BannedPersonsResponse",
        "type": "object"
      },
      "BanPerson": {
        "properties": {
          "person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "ban": {
            "type": "boolean"
          },
          "remove_data": {
            "type": "boolean"
          },
          "reason": {
            "type": "string"
          },
          "expires": {
            "type": "number"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "person_id",
          "ban",
          "auth"
        ],
        "additionalProperties": false,
        "title": "BanPerson",
        "type": "object"
      },
      "BanPersonResponse": {
        "properties": {
          "person_view": {
            "$ref": "#/components/schemas/PersonView"
          },
          "banned": {
            "type": "boolean"
          }
        },
        "required": [
          "person_view",
          "banned"
        ],
        "additionalProperties": false,
        "title": "BanPersonResponse",
        "type": "object"
      },
      "BlockCommunity": {
        "properties": {
          "community_id": {
            "$ref": "#/components/schemas/CommunityId"
          },
          "block": {
            "type": "boolean"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "community_id",
          "block",
          "auth"
        ],
        "additionalProperties": false,
        "title": "BlockCommunity",
        "type": "object"
      },
      "BlockCommunityResponse": {
        "properties": {
          "community_view": {
            "$ref": "#/components/schemas/CommunityView"
          },
          "blocked": {
            "type": "boolean"
          }
        },
        "required": [
          "community_view",
          "blocked"
        ],
        "additionalProperties": false,
        "title": "BlockCommunityResponse",
        "type": "object"
      },
      "BlockPerson": {
        "properties": {
          "person_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "block": {
            "type": "boolean"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "person_id",
          "block",
          "auth"
        ],
        "additionalProperties": false,
        "title": "BlockPerson",
        "type": "object"
      },
      "BlockPersonResponse": {
        "properties": {
          "person_view": {
            "$ref": "#/components/schemas/PersonView"
          },
          "blocked": {
            "type": "boolean"
          }
        },
        "required": [
          "person_view",
          "blocked"
        ],
        "additionalProperties": false,
        "title": "BlockPersonResponse",
        "type": "object"
      },
      "CaptchaResponse": {
        "properties": {
          "png": {
            "type": "string"
          },
          "wav": {
            "type": "string"
          },
          "uuid": {
            "type": "string"
          }
        },
        "required": [
          "png",
          "wav",
          "uuid"
        ],
        "additionalProperties": false,
        "title": "CaptchaResponse",
        "type": "object"
      },
      "ChangePassword": {
        "properties": {
          "new_password": {
            "type": "string"
          },
          "new_password_verify": {
            "type": "string"
          },
          "old_password": {
            "type": "string"
          },
          "auth": {
            "type": "string"
          }
        },
        "required": [
          "new_password",
          "new_password_verify",
          "old_password",
          "auth"
        ],
        "additionalProperties": false,
        "title": "ChangePassword",
        "type": "object"
      },
      "Comment": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CommentId"
          },
          "creator_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "post_id": {
            "$ref": "#/components/schemas/PostId"
          },
          "content": {
            "type": "string"
          },
          "removed": {
            "type": "boolean"
          },
          "published": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          },
          "deleted": {
            "type": "boolean"
          },
          "ap_id": {
            "type": "string"
          },
          "local": {
            "type": "boolean"
          },
          "path": {
            "type": "string"
          },
          "distinguished": {
            "type": "boolean"
          },
          "language_id": {
            "$ref": "#/components/schemas/LanguageId"
          }
        },
        "required": [
          "id",
          "creator_id",
          "post_id",
          "content",
          "removed",
          "published",
          "deleted",
          "ap_id",
          "local",
          "path",
          "distinguished",
          "language_id"
        ],
        "additionalProperties": false,
        "title": "Comment",
        "type": "object"
      },
      "CommentAggregates": {
        "properties": {
          "id": {
            "type": "number"
          },
          "comment_id": {
            "$ref": "#/components/schemas/CommentId"
          },
          "score": {
            "type": "number"
          },
          "upvotes": {
            "type": "number"
          },
          "downvotes": {
            "type": "number"
          },
          "published": {
            "type": "string"
          },
          "child_count": {
            "type": "number"
          }
        },
        "required": [
          "id",
          "comment_id",
          "score",
          "upvotes",
          "downvotes",
          "published",
          "child_count"
        ],
        "additionalProperties": false,
        "title": "CommentAggregates",
        "type": "object"
      },
      "CommentId": {
        "title": "CommentId",
        "type": "number"
      },
      "CommentReply": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CommentReplyId"
          },
          "recipient_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "comment_id": {
            "$ref": "#/components/schemas/CommentId"
          },
          "read": {
            "type": "boolean"
          },
          "published": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "recipient_id",
          "comment_id",
          "read",
          "published"
        ],
        "additionalProperties": false,
        "title": "CommentReply",
        "type": "object"
      },
      "CommentReplyId": {
        "title": "CommentReplyId",
        "type": "number"
      },
      "CommentReplyResponse": {
        "properties": {
          "comment_reply_view": {
            "$ref": "#/components/schemas/CommentReplyView"
          }
        },
        "required": [
          "comment_reply_view"
        ],
        "additionalProperties": false,
        "title": "CommentReplyResponse",
        "type": "object"
      },
      "CommentReplyView": {
        "properties": {
          "comment_reply": {
            "$ref": "#/components/schemas/CommentReply"
          },
          "comment": {
            "$ref": "#/components/schemas/Comment"
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          },
          "community": {
            "$ref": "#/components/schemas/Community"
          },
          "recipient": {
            "$ref": "#/components/schemas/Person"
          },
          "counts": {
            "$ref": "#/components/schemas/CommentAggregates"
          },
          "creator_banned_from_community": {
            "type": "boolean"
          },
          "subscribed": {
            "$ref": "#/components/schemas/SubscribedType"
          },
          "saved": {
            "type": "boolean"
          },
          "creator_blocked": {
            "type": "boolean"
          },
          "my_vote": {
            "type": "number"
          }
        },
        "required": [
          "comment_reply",
          "comment",
          "creator",
          "post",
          "community",
          "recipient",
          "counts",
          "creator_banned_from_community",
          "subscribed",
          "saved",
          "creator_blocked"
        ],
        "additionalProperties": false,
        "title": "CommentReplyView",
        "type": "object"
      },
      "CommentReport": {
        "properties": {
          "id": {
            "$ref": "#/components/schemas/CommentReportId"
          },
          "creator_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "comment_id": {
            "$ref": "#/components/schemas/CommentId"
          },
          "original_comment_text": {
            "type": "string"
          },
          "reason": {
            "type": "string"
          },
          "resolved": {
            "type": "boolean"
          },
          "resolver_id": {
            "$ref": "#/components/schemas/PersonId"
          },
          "published": {
            "type": "string"
          },
          "updated": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "creator_id",
          "comment_id",
          "original_comment_text",
          "reason",
          "resolved",
          "published"
        ],
        "additionalProperties": false,
        "title": "CommentReport",
        "type": "object"
      },
      "CommentReportId": {
        "title": "CommentReportId",
        "type": "number"
      },
      "CommentReportResponse": {
        "properties": {
          "comment_report_view": {
            "$ref": "#/components/schemas/CommentReportView"
          }
        },
        "required": [
          "comment_report_view"
        ],
        "additionalProperties": false,
        "title": "CommentReportResponse",
        "type": "object"
      },
      "CommentReportView": {
        "properties": {
          "comment_report": {
            "$ref": "#/components/schemas/CommentReport"
          },
          "comment": {
            "$ref": "#/components/schemas/Comment"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          },
          "community": {
            "$ref": "#/components/schemas/Community"
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "comment_creator": {
            "$ref": "#/components/schemas/Person"
          },
          "counts": {
            "$ref": "#/components/schemas/CommentAggregates"
          },
          "creator_banned_from_community": {
            "type": "boolean"
          },
          "my_vote": {
            "type": "number"
          },
          "resolver": {
            "$ref": "#/components/schemas/Person"
          }
        },
        "required": [
          "comment_report",
          "comment",
          "post",
          "community",
          "creator",
          "comment_creator",
          "counts",
          "creator_banned_from_community"
        ],
        "additionalProperties": false,
        "title": "CommentReportView",
        "type": "object"
      },
      "CommentResponse": {
        "properties": {
          "comment_view": {
            "$ref": "#/components/schemas/CommentView"
          },
          "recipient_ids": {
            "items": {
              "$ref": "#/components/schemas/LocalUserId"
            },
            "type": "array"
          },
          "form_id": {
            "type": "string"
          }
        },
        "required": [
          "comment_view",
          "recipient_ids"
        ],
        "additionalProperties": false,
        "title": "CommentResponse",
        "type": "object"
      },
      "CommentSortType": {
        "enum": [
          "Hot",
          "Top",
          "New",
          "Old"
        ],
        "title": "CommentSortType",
        "type": "string"
      },
      "CommentView": {
        "properties": {
          "comment": {
            "$ref": "#/components/schemas/Comment"
          },
          "creator": {
            "$ref": "#/components/schemas/Person"
          },
          "post": {
            "$ref": "#/components/schemas/Post"
          },
          "community": {
            "$ref": "#/components/schemas/Community"
          },
          "counts": {
            "$ref": "#/components/schemas/CommentAggregates"
          },
          "creator_banned_from_community": {
            "type": "boolean"
          },
          "subscribed": {
            "$ref": "#/components/schemas/SubscribedType"
          },
          "saved": {
            "type": "boolean"
          },
          "creator_blocked": {
            "type": "boolean"
          },
          "my_vote": {
            "type": "number"
          }
        },
        "required": [
          "comment",
          "creator",
          "post",
          "community",
          "counts",
          "creator_banned_from_community",
          "subscribed",
          "saved",
          "creator_blocked"
        ],
        "additionalProperties": false,
        "title": "CommentView",
        "type": "object"
      },
      "Community": {
[...]
